
/* 返回条区域 */
.details-pack .back-pack {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #659cf1;
    color: #fff;
    padding: 13px 15px;

    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details-pack .back-pack .back-icon-pack {
    height: 22px;
    line-height: 22px;
    position: absolute;
    left: 15px;
    z-index: 1;
}

.details-pack .back-pack .back-icon-pack .back-icon {
    height: 22px;
    line-height: 22px;
}

.details-pack .back-pack .back-title-pack {
    height: 22px;
    line-height: 22px;
}

.details-pack .back-pack .back-title-pack span {
    height: 22px;
    line-height: 22px;
    font-size: 18px;
}

.details-pack .back-pack .back-btn-pack {
    height: 22px;
    line-height: 22px;
    position: absolute;
    right: 15px;
    z-index: 1;
}

.details-pack .back-pack .back-btn-pack .back-btn {
    margin-left: 10px;
    height: 22px;
    line-height: 22px;
}

/* 医师信息区域 */
.details-pack .info-pack {
    margin: 30px 20px;
    position: relative;

    display: -webkit-flex;
    display: flex;
    /*align-items: center;*/
}

.details-pack .info-pack .item-portrait-pack {
    height: 159px;
    width: 122px;
}

.details-pack .info-pack .item-portrait-pack img {
    height: 159px;
    width: 122px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 6px #D9D9D9;
    -moz-box-shadow: 0px 0px 6px #D9D9D9;
    box-shadow: 0px 0px 6px #D9D9D9;
}

.details-pack .info-pack .item-info {
    position: absolute;
    left: 135px;
    right: 0;
    height: 159px;
}

.details-pack .info-pack .item-info .base-pack {
    height: 30px;
    line-height: 30px;
    display: -webkit-flex;
    display: flex;
}

.details-pack .info-pack .item-info .base-pack .name {
    font-size: 18px;
    color: #8E8E8E;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow:    ellipsis;
    display: inline-block;
}

.details-pack .info-pack .item-info .base-pack .type {
    font-size: 12px;
    color: #8E8E8E;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow:    ellipsis;
    display: inline-block;
}

.details-pack .info-pack .item-info .base-pack .department {
    font-size: 12px;
    color: #8E8E8E;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow:    ellipsis;
    display: inline-block;
}

.details-pack .info-pack .item-info .address-pack {
    font-size: 12px;
    color: #8E8E8E;
    height: 25px;
    line-height: 25px;

    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-pack .info-pack .item-info .address-pack .address{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow:    ellipsis;
    display: inline-block;
}

.details-pack .info-pack .item-info .address-pack .arrows{
    width: 16px;
    height: 16px;
}


.details-pack .info-pack .item-info .phone-pack {
    font-size: 12px;
    color: #8E8E8E;
    height: 25px;
    line-height: 25px;

    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-pack .info-pack .item-info .phone-pack .address{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow:    ellipsis;
    display: inline-block;
}

.details-pack .info-pack .item-info .major-pack {
    font-size: 12px;
    color: #77B7ED;
    height: 25px;
    line-height: 25px;
}

.details-pack .info-pack .item-info .major-pack .major-item {
    margin-right: 10px;
}

.details-pack .item-info .bottom-pack {
    position: absolute;
    bottom: 0;
}

.details-pack .item-info .bottom-pack input {
    background: #659cf1;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px;
}

/* 信誉区域 */
.details-pack .reputation-pack {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 30px 30px;
}

.details-pack .reputation-pack .consult-pack .consult-number-pack {
    color: #77B7ED;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    text-align: left;
}

.details-pack .reputation-pack .consult-pack .consult-label-pack {
    color: #666;
    font-size: 14px;
    text-align: left;
}

.details-pack .reputation-pack .grade-pack {
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    height: 45px;
}

.details-pack .reputation-pack .grade-pack .grade-label-pack {
    color: #666;
    font-size: 16px;
}

.details-pack .reputation-pack .grade-pack .grade-value-pack .grade-value {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
}

.details-pack .intro-pack {
    border-top: 2px solid #eee;
    margin: 30px 30px 0 30px;
    padding: 30px 0;
}

.details-pack .intro-pack .intro-label-pack {
    color: #77B7ED;
    font-size: 20px;
}

.details-pack .intro-pack .intro-value-pack {
    margin: 20px 0;
}

.details-pack .intro-pack .intro-value-pack p {
    font-size: 12px;
    color: #8E8E8E;
    text-indent: 2em;
}

/* 蒙版区域 */
.details-pack .masking {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    buttom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#cccccc00,endcolorstr=#cccccc00);
}

/* 预约成功弹框区域 */
.details-pack .make-ok-pack {
    display: none;
    width: 250px;
    height: 200px;
    background: #fff;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-box-shadow:0px 0px 11px #999;
    -webkit-box-shadow:0px 0px 11px #999;
    box-shadow:0px 0px 11px #999;
}

.details-pack .make-ok-pack .top-pack {
    height: 130px;
    width: 130px;
    background: #fff;
    position: absolute;
    top: -45px;
    left: 59px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.details-pack .make-ok-pack .top-pack .make-ok-icon {
    width: 70px;
    height: 76px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.details-pack .make-ok-pack .content-pack {
    position: absolute;
    text-align: center;
    top: 70px;
    font-size: 14px;
    margin: 0 20px;
    color: #777;
}

.details-pack .make-ok-pack .content-pack .name {
    color: #77B7ED;
}

.details-pack .make-ok-pack .bottom-pack {
    position: absolute;
    bottom: 20px;
    left: 80px;
    z-index: 4;
}

.details-pack .make-ok-pack .bottom-pack input {
    background: #659cf1;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px;
}

/* 登录弹框区域 */
.details-pack .login-pack {
    display: none;
    width: 250px;
    height: 260px;
    background: #fff;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-box-shadow:0px 0px 11px #999;
    -webkit-box-shadow:0px 0px 11px #999;
    box-shadow:0px 0px 11px #999;
}

.details-pack .login-pack .top-pack {
    height: 130px;
    width: 130px;
    background: #fff;
    position: absolute;
    top: -45px;
    left: 59px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.details-pack .login-pack .content-pack {
    z-index: 4;
    position: absolute;
    text-align: center;
    top: 0;
    font-size: 14px;
    color: #777;
    width: 250px;
    margin-bottom: 20px;
}

.details-pack .login-pack .content-pack .title-pack {
    margin-top: 25px;
    margin-bottom: 15px;
}

.details-pack .login-pack .content-pack .title-pack .company-name {
    color: #77B7ED;
}

.details-pack .login-pack .content-pack .form-pack {

}

.details-pack .login-pack .content-pack .username-pack {
    width: 250px;
    height: 44px;
    padding: 0 10px;
    border-bottom: 1px solid #F2F1F1;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.details-pack .login-pack .content-pack .username-pack .icon-pack {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.details-pack .login-pack .content-pack .username-pack .icon-pack img {
    width: 16px;
    height: 16px;
}

.details-pack .login-pack .content-pack .username-pack .input-pack {
    width: 224px;
    height: 20px;
}

.details-pack .login-pack .content-pack .username-pack .input-pack input {
    width: 204px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    border: 0px;
    color: #999;
    font-size: 14px;
}

.details-pack .login-pack .content-pack .password-pack {
    width: 250px;
    height: 44px;
    padding: 0 10px;
    border-bottom: 1px solid #F2F1F1;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.details-pack .login-pack .content-pack .password-pack .icon-pack {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.details-pack .login-pack .content-pack .password-pack .icon-pack img {
    width: 16px;
    height: 16px;
}

.details-pack .login-pack .content-pack .password-pack .input-pack {
    width: 224px;
    height: 20px;
}

.details-pack .login-pack .content-pack .password-pack .input-pack input {
    width: 204px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    border: 0px;
    color: #999;
    font-size: 14px;
}

.details-pack .login-pack .content-pack .password-pack .input-pack .password-open {
    display: none;
}

.details-pack .login-pack .content-pack .btn-pack {
    position: absolute;
    right: 10px;
    height: 44px;
    line-height: 54px;
}

.details-pack .login-pack .content-pack .btn-pack img {
    width: 16px;
    height: 16px;
}

.details-pack .login-pack .content-pack .btn-pack .btn-open {
    display: none;
}

.details-pack .login-pack .tip-pack {
    font-size: 12px;
    color: #fc6074;
    margin: 3px 10px;
    text-align: left;
}

.details-pack .login-pack .bottom-pack {
    height: 35px;
    line-height: 35px;
    width: 242px;
    position: absolute;
    bottom: 2px;
    padding: 0 2px 2px 2px;
}

.details-pack .login-pack .bottom-pack input {
    width: 246px;
    height: 35px;
    line-height: 35px;
    background: #659cf1;
    color: #fff;
    border: 0px;
    padding: 0;
}

/* 注册区域 */
.details-pack .register-pack {
    display: none;
    width: 250px;
    height: 260px;
    background: #fff;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-box-shadow:0px 0px 11px #999;
    -webkit-box-shadow:0px 0px 11px #999;
    box-shadow:0px 0px 11px #999;
}

.details-pack .register-pack .top-pack {
    height: 130px;
    width: 130px;
    background: #fff;
    position: absolute;
    top: -45px;
    left: 59px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.details-pack .register-pack .content-pack {
    z-index: 4;
    position: absolute;
    text-align: center;
    top: 0;
    font-size: 14px;
    color: #777;
    width: 250px;
    margin-bottom: 20px;
}

.details-pack .register-pack .content-pack .title-pack {
    margin-top: 0px;
    margin-bottom: 15px;
}

.details-pack .register-pack .content-pack .title-pack .company-name {
    color: #77B7ED;
}

.details-pack .register-pack .content-pack .form-pack {

}

.details-pack .register-pack .content-pack .username-pack {
    width: 250px;
    height: 44px;
    padding: 0 10px;
    border-bottom: 1px solid #F2F1F1;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.details-pack .register-pack .content-pack .username-pack .icon-pack {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.details-pack .register-pack .content-pack .username-pack .icon-pack img {
    width: 16px;
    height: 16px;
}

.details-pack .register-pack .content-pack .username-pack .input-pack {
    width: 224px;
    height: 20px;
}

.details-pack .register-pack .content-pack .username-pack .input-pack input {
    width: 204px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    border: 0px;
    color: #999;
    font-size: 14px;
}

.details-pack .register-pack .content-pack .password-pack {
    width: 250px;
    height: 44px;
    padding: 0 10px;
    border-bottom: 1px solid #F2F1F1;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.details-pack .register-pack .content-pack .password-pack .icon-pack {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.details-pack .register-pack .content-pack .password-pack .icon-pack img {
    width: 16px;
    height: 16px;
}

.details-pack .register-pack .content-pack .password-pack .input-pack {
    width: 224px;
    height: 20px;
}

.details-pack .register-pack .content-pack .password-pack .input-pack input {
    width: 204px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    border: 0px;
    color: #999;
    font-size: 14px;
}

.details-pack .register-pack .bottom-pack {
    height: 35px;
    line-height: 35px;
    width: 242px;
    position: absolute;
    bottom: 2px;
    padding: 0 2px 2px 2px;
}

.details-pack .register-pack .bottom-pack input {
    width: 246px;
    height: 35px;
    line-height: 35px;
    background: #659cf1;
    color: #fff;
    border: 0px;
    padding: 0;
}



